{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Asia Sports</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated%}
                <a href="{% url 'blog:create' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="{% url 'blog:index' %}">Asia Sports</a></h1>
            {% if user.is_authenticated%}
                <p>こんにちは、{{ user }}さん</p>
                <a href="{% url 'logout' %}" class="logout">Logout</a>
            {% endif %}
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-4">
                    <div>
                        <h3>AND条件</h3>
                        <form action="#" method="get">
                        <div>
                            <input type="text" id="keyword1" name="keyword1">
                            <button type="submit">検索</button>
                        </div>
                        </form>
                    </div>

                    <div>
                        <h3>OR条件</h3>
                        <form action="#" method="get">
                        <div>
                            <input type="text" id="keyword2" name="keyword2">
                            <button type="submit">検索</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>